<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    ...
</head>
<body>
<!-- /*  Multiple fragments may be defined in one file */-->
<div style="text-align:center" th:fragment="footer">
    &copy; 2021 Marcin Krysiński
    <span><a th:text="#{contact}"
             th:href="@{/contact}"></a></span>
</div>
<div style="text-align:center" th:fragment="footer-admin">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <span sec:authentication="principal.authorities">Roles</span>
    </div>
    &copy; 2021 Marcin Krysiński (Admin user)
    <span><a th:text="#{contact}"
             th:href="@{/contact}"></a></span>
</div>
</body>
</html>
