<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
>
<head>
  ...
  <title></title>

</head>
<body>
<header>
  <nav id="navbar" class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" th:href="@{/}">BugTracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>
</body>
</html>
