.card-body{
    width: max-content;
}

.border{
    min-height: 300px;
}

.title{
    margin-left: 11px;
}

.labelTitle{
    font-size: 50px ;
}


.capitol{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.pagin{
    margin: auto;
    width: 10%;
    padding: 10px;
}

#markdownInfo{
    text-align: center;
}

#kanbanTitle{
    margin-bottom: 2rem;
}

#issueFilterBottoms{
    float: right;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#usersFilterBottoms{
    float: right;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
